<h1 align="center">Edit existing article</h1>

<%= render 'form' %>
<br /><br /><br /><br />
<center><%= link_to 'Delete this article', article_path(@article), method: :delete,
                                  data: {confirm: "Are you sure want to delete this article?"},
                                  class: "btn btn-xs btn-danger" %></center>